:root {
    --primary-blue: #2e51a2;
    --secondary: #e1e7f5;
    --gray: #f6f6f6;
}

body {
    /* padding: 1rem; */
    overflow-x: hidden;
    font-family: 'Raleway';
}

main {
    max-width: 75dvw;
    overflow: hidden;
}

#sideBar {
    width: 20dvw;
    background-color: var(--secondary);
}

#loading {
    width: 100dvw;
    height: 100dvh;
    background-color: var(--primary-blue);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
}

nav {
    /* position: fixed !important; */
    width: 100dvw;
    top: 0;
    right: 0;
    z-index: 99;
}

nav img {
    max-width: 10dvw;
    filter: blur(2px);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

nav img:hover {
    filter: blur(0);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

nav .pagesbtn {
    background-color: white;
    text-decoration: none !important;
    box-shadow: inset 0 0 0 0 var(--primary-blue);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: black !important;
    border: none;
    outline: none;
}

nav .profile-images {
    filter: blur(0);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    width: 2dvw !important;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.offcanvas {
    width: 50dvw !important;
    display: none;
}

#canvas0 {
    background-color: var(--secondary);
}

nav .pagesbtn0 {
    background-color: var(--secondary);
    text-decoration: none !important;
    box-shadow: inset 0 0 0 0 var(--primary-blue);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: black !important;
    border: none;
    outline: none;
    border-bottom: .4px solid var(--gray);
}

nav .pagesbtn:hover {
    box-shadow: inset 0 48px 0 0 var(--primary-blue);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: white !important;
}

nav .pagesbtn0:hover {
    box-shadow: inset 0 48px 0 0 var(--primary-blue);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: white !important;
}

#nav0 {
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(8px);
}

#nav1 {
    display: none;
    background-color: var(--primary-blue);
}

#nav1 a {
    text-decoration: none;
}

#flex1 {
    /* display: flex; */
    /* max-width: 60dvw; */
    width: fit-content;
    overflow: scroll;
    flex-wrap: nowrap;
    /* gap: 1rem; */
    position: relative;
    animation-delay: 4s;
    scrollbar-width: none;

}

#flex2 {
    /* display: flex; */
    width: fit-content;
    /* gap: 1rem; */
    position: relative;
    animation-delay: 4s;
    scrollbar-width: none;

}

/* #bigBox1{
} */
.smallbigBox1 {
    max-height: 50dvh;
    overflow: scroll;
    scrollbar-width: none;
    font-size: 10px;
}

.smallbigBox2 {
    max-height: 50dvh;
    overflow: scroll;
    scrollbar-width: none;
    font-size: 10px;
}

.arrow {
    z-index: 9;
}

.bi-chevron-left {
    width: 2.4rem;
    height: 2.4rem;
    /* left: 5%; */
}

.bi-chevron-right {
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
    left: 5%;
}

.topAnimeImg {
    aspect-ratio: 2/3;
    object-fit: cover;
    height: 8dvh;
}

.textBox {
    background-image: linear-gradient(to top, #fff, transparent);
    height: 80%;
}

.boxText {
    font-size: 12px;
}

.big-profile-images {
    width: 20dvh !important;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.commentBox {
    /* scrollbar-width: none; */
    max-height: 50%;
    width: fit-content;
}

.loader {
    transform: rotateZ(45deg);
    /* perspective: 1000px; */
    perspective: 360px;
    border-radius: 50%;
    height: 24dvh;
    width: 24dvh;
    color: #fff;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: var(--secondary);
    transform: rotateY(70deg);
    animation-delay: .4s;
}




@keyframes scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-90%);
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {


    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

@media (max-width:1080px) {
    #logo {
        display: none;
    }
}

@media (max-width:720px) {
    body {
        padding: 0;
    }

    #nav0 {
        display: none !important;
    }

    #nav1 {
        display: flex !important;
    }

    .newspage {
        font-size: 12px;
    }

    main {
        max-width: 100dvw;
    }

    #sideBar {
        display: none !important;
    }

    .title {
        text-align: center;
    }

    nav .profile-images {
        width: 6.4dvw !important;
    }
}